	 body {
	 	margin:0;
	 	padding:0;
	 	font-family: Sans-Serif;
	 	line-height: 1.5em;
	 }

	 .navbar {
	 	position: fixed;
	 	top: 0;
	 	width: 100%;
	 	background: #2c3e50;
	 	height: 110px;
	 	opacity: 1;
	 	z-index: 2;

	 }

	 .nav{ list-style-type: none;
	 	width:750px;
	 	margin:0 auto;
	 }
	 a{
	 	text-decoration: none;
	 	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 	font-weight:600;
	 }

	 a[href^="#page-top"] {
	 	position: relative;
	 	left: 50px;
	 	top: 50px;
	 	padding-left:20px;
	 	padding-top:40px;

	 	font-weight: 600;
	 	font-size: 1.8em;
	 }

	 .nav li {
	 	float:right;
	 	position: relative;
	 	top: 30px;
	 	left:200px;
	 	padding-right:50px;


	 }
	 .nav a {
	 	display:block;
	 	text-align:center;
	 	width:60px; /* fixed width */

	 }

	 a,
	 a:link{
	 	outline: 0;
	 	color: #FFF;

	 }

	 a:hover,
	 a:active {
	 	outline: 0;
	 	color: #18bc9c;
	 }



	 header {
	 	position:relative;
	 	text-align: center;
	 	color: #fff;
	 	background: #18bc9c;
	 	z-index: 1;
	 }

	 header .container {
	 	padding-top: 100px;
	 	padding-bottom: 50px;
	 }

	 header img {
	 	position:relative;
	 	display: block;
	 	margin-left: auto;
	 	margin-right: auto;
	 	width:256px;
	 	height:256px;
	 	
	 }

	 header .intro-text .name {
	 	display: block;
	 	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 	font-size: 2em;
	 	font-weight: 700;
	 }

	 header .intro-text .skills {
	 	display: block;
	 	margin-top: 10px;
	 	padding-top: 10px;
	 	font-size: 1.25em;
	 	font-weight: 300;
	 }
	 #portfolio .container h3 {
	 	position: relative;
	 	top: -10px;
	 	display: block;
	 	color: #2c3e50;
	 	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 	font-size: 1em;
	 	font-weight: 400;
	 	text-align:center;
	 }
	 #portfolio{
	 	position: relative;
	 	color: #fff;
	 	background: #2c3e50;
	 	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 	font-weight:600;
	 }

	 #portfolio .container{

	 	padding-top: 100px;
	 	padding-bottom: 380px;
	 	padding-left: 40px;
	 	white-space: nowrap;

	 }
	 #portfolio .container .text-center{
	 	display: block;
	 	text-align: center;
	 	font-size:1.25em;
	 	padding-bottom: 10px;
	 }

	 #portfolio .container .portfolio-item {
	 	display: inline-block;
	 	padding-top: 10px;
	 	text-align: center;
	 	white-space:normal;
	 	background-color:#FFF;
	 	height: 80px; /* Origional height */
	 	width: 22%; /* Origional width */
	 	margin: 5px 5% 5px 5%; /* Just for presentation (Not required) */
	 	float: left; /* Just for presentation (Not required) */
	 	transition:height 0.5s; /* Animation time */
	 	-webkit-transition:height 0.5s; /* For Safari */
	 	/*clear: left;*/
	 	overflow:hidden;
	 }

	 .portfolio-item a{
	 	color: #2c3e50;
	 }
	 .portfolio-item .wrapper img{
	 	width:200px;
	 	height:200px;
	 }
	 #portfolio .container .portfolio-item:hover {
	 	height: 300px; /* This is the height on hover */
	 }